/* Blog.css

.card {
    border: 1px solid #ddd; 
    border-radius: 8px; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
}

.card-img-top {
    width: 100%; 
    height: auto;
}

.img-small {
    max-height: 150px; 
    object-fit: cover; 
}

.card-body {
    flex-grow: 1; 
}

.card-title {
    font-size: 1.25rem; 
    margin-bottom: 0; 
} */

.blog-detail-page {
    padding: 20px;
    font-family: Arial, sans-serif;
  }
  
  .blog-detail-image {
    width: 100%;
    max-height: 400px;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 20px;
  }
  
  .blog-detail-page h1 {
    font-size: 2rem;
    margin-bottom: 10px;
  }
  
  .blog-detail-page p {
    font-size: 1.1rem;
    line-height: 1.6;
  }